/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run taylordgenes/variant_calling -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    
    withName: FASTP {
        ext.args = '-q 30 -l 35 -w 4'
    }

    withName: VERIFYBAMID_VERIFYBAMID2 {
        ext.when = true
    }

    withName: TIDDIT_SV {
        ext.when = true
    }

}

params {
    config_profile_name        = 'Benchmarking profile'
    config_profile_description = 'HG002 truth dataset to benchmark pipeline'

    // Input data
    input  = "${projectDir}/assets/benchmarking_samplesheet.csv"
    genome = 'GRCh38'

    // VEP
    vep_cache = '/data/vep/cache'

    // Benchmarking
    benchmarking = true
    bench_truth_vcf = "/home/ec2-user/benchmarking_files/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
    bench_truth_bed = "/home/ec2-user/benchmarking_files/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"

}
