/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run taylordgenes/variant_calling -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]

    withName: FASTP {
        ext.args = '-q 14 -l 35 -w 4'
    }

    withName: BWAMEM2_MEM {
        ext.args = { "-R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:ILLUMINA\"" }
    }

    withName: VERIFYBAMID_VERIFYBAMID2 {
        ext.when = false
    }

    withName: SOMALIER_EXTRACT {
        ext.when = false
    }

    withName: SOMALIER_ANCESTRY {
        ext.when = false
    }

    withName: SOMALIER_RELATE {
        ext.when = false
    }

    withName: ENSEMBLVEP_VEP {
        ext.when = false
    }

    withName: TIDDIT_SV {
        ext.when = false
    }

    withName: MANTA_GERMLINE {
        ext.when = false
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // small genome on igenomes
    igenomes_base   = "${projectDir}/assets/small_test_data"
    genome          = 'testdata'
}
