/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run taylordgenes/variant_calling -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {

    withName: FASTP {
        ext.args = '-q 30 -l 35 -w 4'
    }

    withName: BWAMEM2_MEM {
        ext.args = { "-R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:ILLUMINA\"" }
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/benchmarking_samplesheet.csv"
    genome = 'GRCh38'

    // VEP
    vep_cache = '/data/vep/cache'
}
